
body {
    background-color: rgb(219, 218, 212);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

/*CONTAINER PRINCIPAL*/
#main {
    background-color: rgb(248, 247, 245);
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 12px;
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

/*INSERÇÃO DE NOTAS*/
#notas {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

#nota_Inserir {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid gray;
}

#notas input[type="radio"] {
    margin-left: 15px;
}

/*BOTÕES*/
#btn_inserir,
#btn_excluirNotaNU,
#btn_excluirTodasNU,
#btn_excluirNotaU,
#btn_excluirTodasU {
    background-color: #181a1a;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 14px;
    margin: 6px 4px;
}

#btn_inserir:hover{
    background-color: #3c4450;
}

#btn_excluirNotaNU:hover,
#btn_excluirTodasNU:hover{
    background-color: #ffbf34;
    color: black;
}

#btn_excluirNotaU:hover,
#btn_excluirTodasU:hover {
    background-color: #c22b2b;
    color: black;
}

/*PAINEL DE NOTAS*/
#painel_notas {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50px;
    align-items: flex-start;
}

/*ÁREAS DE NOTAS*/
#nao_urgentes,
#urgentes {
    padding: 10px 15px;
    width: 300px;
    height: 60vh;
    border-radius: 10px;
}

/*CORES DE FUNDO*/
#nao_urgentes {
    background-color: #faf09b;
}

#urgentes {
    background-color: #ff8585;
}

/*TÍTULOS*/
#nao_urgentes h3,
#urgentes h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    color: #000000;
}

/*NOTAS*/
#nao_urgentes p,
#urgentes p {
    background-color: white;
    padding: 6px 10px;
    border-radius: 6px;
    margin: 6px 0;
    word-wrap: break-word;
}

